<div class="wrapper">
  <button routerLink="stretch" mat-button>Stretch</button>
  <mat-divider></mat-divider>

  <button routerLink="energize" mat-button>Energy building exercises</button>
  <mat-divider></mat-divider>

  <button routerLink="core" mat-button>Strengthen core</button>
  <mat-divider></mat-divider>

  <button routerLink="functional" mat-button>Functional exercises for building strength</button>
  <mat-divider></mat-divider>

  <button routerLink="stats" mat-button>View progress</button>
  <mat-divider></mat-divider>

</div>
